html {
    font-family: 'Alata';
}

body {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.btn {
    display: none;
}

a:link {
    text-decoration: none;
}

.foto img {
    border-radius: 50%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

}

header {
    display: flex;
    background-color: #A877C8;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

}

.menu {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    list-style: none;
}

.about {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 150px;
    flex-wrap: wrap;
    background-color: #A2DA5A;
}

.presentation {
    width: 650px;
    text-align: justify;
}

.lists {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.lista {
    display: flex;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies h2 {
    text-align: end;
}

.lists li {
    display: flex;
    flex-direction: column-reverse;
    background-color: #A877C8;
    width: 102px;
    height: 150px;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.top {
    display: flex;
    background-color: #A2DA5A;
    width: 19px;
    height: 44px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0px;
    left: 5px;
}

.top p {
    padding: 6px;
}

footer {
    display: flex;
    background-color: #F7BB2A;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.social {
    display: flex;
    padding: 5px;
    gap: 10px;
}

.contato {
    width: auto;
    height: auto;
    background-color: #A2B2DF;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

@media only screen and (max-width:1290px) {
    .hobbies h2 {
        text-align: start;
    }
    footer {
        position:relative;
        top: 20px;
    }
}

@media only screen and (max-width:478px) {
    footer {
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width:1290px) {
    footer {
        margin-top: 352px;
    }
}

@media only screen and (max-width:522px) {
    .btn {
        display: block;
    }
    .btn li {
        list-style: none;
        border-radius: 5px;
        width: 50px;
        height: 5px;
        margin: 5px;
        background-color: #A2DA5A;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

    }
    .menu {
        display: none;
    }
}

@media only screen and (button:active) {
    .menu {
        display: block;
    }
}